
### OSX
.DS_Store

### Python
*.pyc

### Juputer/Ipython Notebook
.ipynb_checkpoints

### R
.Rhistory
*.nb.html
*.Rmd.html

### R studio
.Rproj.user
# ^ folder where project-specific temporary files (e.g. auto-saved source documents, window-state, etc.) are stored

################## Data files ##################

### R
# *.RData

################## RESULT FILES ##################

### Tables
# *.csv
# *.xlsx

### Plots
# *.pdf
# *.png
# *.gif
# *.mp4

################## PROJECT SPECIFC ##################
# out
# data

### "Un-ignore" publication folder | REF: https://stackoverflow.com/questions/5261959/unignore-subdirectories-of-ignored-directories-in-git
### This must come AFTER ignoring "results files" (e.g. .pdf)
!/src/publication/*
!/src/publication/**/*
!/results/*
!/results/**/*



################## TMP ##################

### TMP
src/tmp-leftover_code/

