
### OSX
.DS_Store

### Python
*.pyc

### Juputer/Ipython Notebook
.ipynb_checkpoints

### R
.Rhistory
*.nb.html
*.Rmd.html

################## Data files ##################

### R
*.RData
.Rproj.user


################## PROJECT SPECIFC ##################
out
data

################## RESULT FILES ##################


### Tables
*.csv
*.xlsx

### Plots
*.pdf
*.png
*.gif
*.mp4

################## TMP ##################

### Expression data
src/datasets-expression/novo_bulk/out.magma_geneset/

### LDSC
src/ldsc/experiments/test.BMI_Yengo2018.*
src/ldsc-tutorial/BMI1.GTEx*
src/ldsc-tutorial/tutorial-james/*


### DEPICT
src/depict/*.cfg
src/depict/results/*


### MAGMA
src/magma-geneset/out.maca/
src/magma-geneset/out.mousebrain_neurons/

src/magma-celltyping/data-*
src/magma-celltyping/export.out.*

src/magma-explore/data-effect_of_magma_internal_covariates.13985_homolog_genes/*
src/magma-explore/BMI_Yengo2018.resid.correct_all.*

src/magma-gene_scores/out_magma_BMI/


### TMP
src/tmp-leftover_code/
